header{
	opacity: 0.9;
	text-shadow: 3px 3px 3px #00a3e3;
	font-family: URW Chancery L;
	font-size: 20px;
	top: 0;
	left: 0;
	right: 0;
	position: fixed;
	color: white;
	background-color: black;
	text-align: right;
	margin-top: -20px;
	padding-right: 20px;
}

.one{
	margin-left: -8px;
	top: 124px;
	position: fixed;
	float: left;
}

.three{
	margin-top: -3px;
	border: 2px solid green;
	margin-bottom: -110px;
}

.three{
	text-shadow: 3px 3px 1px #f69322;
	font-family: URW Chancery L;
	font-size: 18px;
	font-weight: bolder;
}

.two{
	border: 2px solid red;
	border-bottom: 10px solid red;
	margin-top: 116px;
	margin-left: 247px;
	margin-right: -8px;
	position: fixed;
}

.fourth ul{
	list-style-type: none;
}

.fourth li{
	display: inline;
}

.fourth{
	position: fixed;
	margin-left: -8px;
	margin-top: 0px;
	margin-right: -8px;
	border: 2px solid black;
	padding-left: 220px;
	font-family: URW Chancery L;
	font-size: 20px;
	font-weight: bolder;
}

.fifth li{
	padding-left: 250px;
	color: white;
	font-family: URW Chancery L;
	font-size: 30px;
	font-weight: bolder;
	list-style-type: none;
	display: inline;
}

footer{
	text-shadow: 3px 3px 3px #00a3e3;
	margin-left: -9px;
	margin-bottom: -1px;
	width: 100%;
	border: 1px solid blue;
	background-color: black;
	bottom: 0;
	position: fixed;
}

